<o-form fxFill #form mode="dialog" (onFormModeChange)="forceInsertMode($event)" (onInsert)="closeDialog($event)" service="cars" entity="car"  header-actions="R;I;U;D" show-header="no">
  
    <o-row>
      <o-column title="CAR_REGISTER" fxFlex>

        <o-row>
          <o-text-input class="input-padding" attr="brand" fxFlex required="yes"></o-text-input>
        </o-row>

        <o-row>
          <o-text-input class="input-padding" attr="model" fxFlex required="yes"></o-text-input>
        </o-row>

        <o-row>
            <o-text-input class="input-padding" attr="status" fxFlex required="no"></o-text-input>
        </o-row>

        <o-row>
            <o-real-input attr="location" decimal-separator="," max-decimal-digits="10" min-decimal-digits="0" 
            class="input-padding" fxFlex="50"></o-real-input>
         <!-- <o-real-input attr="longitude" decimal-separator="," max-decimal-digits="10" min-decimal-digits="0" 
             class="input-padding" fxFlex="50"></o-real-input>
        <o-real-input attr="latitude" decimal-separator="," max-decimal-digits="10" min-decimal-digits="0" 
              fxFlex="50"></o-real-input> -->
        </o-row>

        <div class="ontimize-buttons">
          <o-button attr="basic1" type="STROKED" label="CANCELAR" layout-padding color="primary" (click)="closeDialog()"></o-button>
          <o-button attr="basic1" type="STROKED" label="GUARDAR" layout-padding color="primary" (click)="send()"></o-button>
        </div>
  
      </o-column>
    </o-row>
  </o-form>
