<o-form #form  mode="dialog" class="cars-new" message-service-type="customMessageServiceTypeCar" service="cars" entity="myCar" keys="car_id" keys-sql-types="INTEGER" header-actions="U;D" show-header="yes">
  <o-row>
    <!-- COLUMN LEFT -->
    <o-column  class="leftColumn" fxFlex="50%">
      <!-- BRAND -->
      <o-row>
        <o-combo attr="brand" service="cars_brands" entity="brand" fxFlex="100%" value-column="brand_name" columns="brand_name" visible-columns="brand_name"></o-combo>
      </o-row>
      <!-- MODEL -->
      <o-row>
        <o-text-input class="input-padding" attr="model" fxFlex="100%" required="yes"></o-text-input>
      </o-row>
      <!-- PLATE -->
      <o-row>
        <o-text-input class="input-padding" attr="plate" fxFlex="100%" required="yes" placeholder="1234ABC" [validators]="validatorsConfirmPlateArray">
          <o-validator error-name="plateNotFormat" error-text="Invalid registration format"></o-validator>
        </o-text-input>
      </o-row>
      <!-- PRICE PER DAY -->
      <o-row>
        <o-integer-input attr="daily_rental_price" label="Price_per_day" fxFlex="100%" min="1" max="100" required="yes"></o-integer-input>
      </o-row>
      <!-- DATE RANGE -->
      <o-row>
        <o-daterange-input attr="daterange" label="date_range" fxFlex="100%" [min]="currentDay()" format="YYYY/MM/DD" required="yes"></o-daterange-input>
      </o-row>
      <!-- LOCATION -->
      <o-row class="row-location">
        <o-text-input attr="location" label="location" fxFlex="100%" (keyup.enter)="moveMapToLocation()"></o-text-input>

        
      <o-real-input oHidden attr="longitude" decimal-separator="," max-decimal-digits="10" min-decimal-digits="0"  class="input-padding" fxFlex="50"></o-real-input>
      <o-real-input oHidden attr="latitude" decimal-separator="," max-decimal-digits="10" min-decimal-digits="0"  fxFlex="50"></o-real-input> 
   
      </o-row>
    </o-column>
    <!-- COLUMN RIGHT -->
    <o-column >
      <!-- PHOTO -->
      <o-image  class="photoCar" attr="car_photo" title="car_photo" avatar="yes" image-type="base64" show-controls="yes" read-only="no"></o-image>
     
    </o-column>
       <!-- MAPA -->
      </o-row>
      <o-row style="border: 1px solid red; height: 315px;">  
        <!-- <div *ngIf="hasGPSPositition()"> -->
     <o-map #oMapMarker center="40.4168, -3.7038" zoom="8" min-zoom="3" max-zoom="20" zoom-control="no"
     search-control="no" layer-panel-visible="no" fxFlex (onDrawEvent)="addDrawEvent($event)" >
     <o-map-draw-controls></o-map-draw-controls>
     <!-- <o-map-layer layer-type="marker" layer-id="office_marker" [layer-center]="getPositionGPS()"></o-map-layer> -->

 </o-map>
        <!-- </div> -->
</o-row>
</o-form>

<!-- MAPA BASICO -->
        <!-- <o-map #oMapBasic fxFlex attr="basic-usage-map" center="42.240599, -8.720727" zoom="11" min-zoom="3" max-zoom="20"
        zoom-control="yes" search-control="yes" fxFlex style="height: 300px;"></o-map> -->
      