.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .button-container button {
    margin: 0 10px; 
    padding: 10px 20px;
    background-color: #042668;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-container button:hover {
    color: #109AE9;
    outline: 2px solid #109AE9;
  }
  