<!-- <o-form fxFill #form mode="dialog" (onFormModeChange)="forceInsertMode($event)" (onInsert)="closeDialog($event)" service="cars" entity="car"  show-header="no">
  
    <o-row>
      <o-column title="CAR_REGISTER" fxFlex>

        <o-row>
          <o-text-input class="input-padding" attr="BRAND" fxFlex required="yes"></o-text-input>
        </o-row>

        <o-row>
          <o-text-input class="input-padding" attr="MODEL" fxFlex required="yes"></o-text-input>
        </o-row>

        <o-row>
            <o-text-input class="input-padding" attr="STATUS" fxFlex required="no"></o-text-input>
        </o-row>

        <o-row>
         <o-real-input attr="LONGITUDE" decimal-separator="," max-decimal-digits="10" min-decimal-digits="0" 
             class="input-padding" fxFlex="50"></o-real-input>
        <o-real-input attr="LATITUDE" decimal-separator="," max-decimal-digits="10" min-decimal-digits="0" 
              fxFlex="50"></o-real-input>
        </o-row>

        <div class="ontimize-buttons">
          <o-button attr="basic1" type="STROKED" label="CANCELAR" layout-padding color="primary" (click)="closeDialog()"></o-button>
          <o-button attr="basic1" type="STROKED" label="GUARDAR" layout-padding color="primary" (click)="send()"></o-button>
        </div>
  
      </o-column>
    </o-row>
  </o-form> -->

  <o-form-layout-manager mode="dialog" title="BRANCHES"  label-columns="NAME" separator=""
  attr="o-form-layout-branches-home">

  <o-form-layout-dialog-options width="1000px" height="600px"
  disable-close="true" ></o-form-layout-dialog-options>

  <div fxFill>
    <o-table fxFlex attr="carTable" service="cars" entity="car" keys="car_" 
    columns="car_;brand;model;status;location" 
    visible-columns="brand;model;status;location" query-rows="20">
     <o-table-column attr="ID" title="ID" width="100px"></o-table-column>
   </o-table>
  </div>
</o-form-layout-manager>