<o-form-layout-manager mode="dialog" title=""  label-columns="name" 
  attr="o-form-layout-branches-home" color="warn">

  <o-form-layout-dialog-options  title = "Car" width="600px" height="600px"
  disable-close="true" ></o-form-layout-dialog-options>

  <!-- <div class="table-car">
    <o-table  fxFlex attr="carTable" service="cars" entity="car" keys="car_id" 
    columns="car_id;brand;model;plate;location;user_id;start_date_available;end_date_available" 
    visible-columns="brand;model;plate;location;user_id;start_date_available;end_date_available" query-rows="20" detail-mode="dblclick">
     <o-table-column attr="id" title="id" width="100px" ></o-table-column>
   </o-table>
  </div> -->
  <div>
    <o-grid #grid [columns]="carsList"
      show-page-size="yes" page-size-options="24;32;64" insert-button="yes" insert-button-position="top"
      orderable="yes" sortable-columns="brand;model;plate;location">
      <o-grid-item *ngFor="let list of carsList">
        <o-column layout-padding class="container-item">
          <!-- <img [src]="https://www.google.es/url?sa=i&url=https%3A%2F%2Fwww.autofacil.es%2Findustria%2Fganadores-premios-coche-ano-mundo-2022%2F353273.html&psig=AOvVaw0GSQ4USaZ6AUHtOb4a6tB1&ust=1686391784331000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCNjH1Yv5tf8CFQAAAAAdAAAAABAE" style="margin-top:8px"> -->
          <h2>{{ list.brand }}</h2>
          <h4>{{ list.model }}</h4>
          <div class="phone">
            <mat-icon>phone</mat-icon><span>{{ list.plate }}</span>
          </div>
          <div class="email">
            <mat-icon>email</mat-icon><span>{{ list.location }}</span>
          </div>
          <div class="domain">
            <mat-icon>domain</mat-icon><span>{{ list.user_id }}</span>
          </div>
          <div class="website">
            <mat-icon>website</mat-icon><span>{{ convertDate(list.start_date_available) }}</span>
          </div>
          <div class="body">
            {{ convertDate(list.end_date_available) }}
          </div>
        </o-column>
      </o-grid-item>
    </o-grid>
  </div>
</o-form-layout-manager>

