
  <o-form-layout-manager mode="dialog" title=""  label-columns="name" 
  attr="o-form-layout-branches-home" color="warn">

  <o-form-layout-dialog-options  title = "Nuevo coche" width="400px" height="450px"
  disable-close="true" ></o-form-layout-dialog-options>


  <div>
    <o-table fxFlex attr="carTable" service="cars" entity="car" keys="car_id" 
    columns="car_id;brand;model;plate;location" 
    visible-columns="brand;model;plate;location" query-rows="20">
     <o-table-column attr="id" title="id" width="100px" ></o-table-column>
   </o-table>
  </div>
</o-form-layout-manager>