<main class="main-form">
<form (submit)="saveNewUser($event)">
    
    <div>
        <input type="text" name="name" id="name" placeholder="Introduce el nombre">        
    </div>
    <div>
        <input type="password" name="pass" id="pass" placeholder="Introduce contraseña">
    </div>
    <div>
        <input type="text" name="nif" id="nif" placeholder="Introduce tu NIF">
    </div>
    <div>
        <input type="email" name="email" id="email" placeholder="Introudce un email">
    </div>

    <button type="submit">Enviar</button>
    
</form>
</main>
