<!-- <main class="main-form" 1er modelo>
  <form (submit)="saveNewUser($event)">
    <div>
      <input type="text" name="name" id="name" placeholder="Introduce el nombre" [(ngModel)]="newUser.name">
    </div>
    <div>
      <input type="password" name="pass" id="pass" placeholder="Introduce contraseña" [(ngModel)]="newUser.password">
    </div>
    <div>
      <input type="text" name="nif" id="nif" placeholder="Introduce tu NIF" [(ngModel)]="newUser.nif">
    </div>
    <div>
      <input type="email" name="email" id="email" placeholder="Introduce un email" [(ngModel)]="newUser.email">
    </div>
    <button type="submit">Enviar</button>
  </form>
</main> -->

<main class="main-form">
<form #userForm = "ngForm" class="main-form-form">
  <h2>Welcome</h2>
    <mat-form-field appearance="fill" class="main-form-form-input">
        <mat-label>Nif</mat-label>
        <input matInput type="text" name="nif" required [(ngModel)]="newUser.nif">
    </mat-form-field>

    <mat-form-field appearance="fill" class="main-form-form-input">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="newUser.name">
    </mat-form-field>

    <mat-form-field appearance="fill" class="main-form-form-input">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" name="name" [(ngModel)]="newUser.password">
    </mat-form-field>

    <mat-form-field appearance="fill" class="main-form-form-input">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="name" [(ngModel)]="newUser.email">
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="saveNewUser($event)"> 
      <mat-icon>save</mat-icon>Guardar</button>
  </form>

  </main> 
