<!-- <o-form mode="dialog" attr="car_detail" service="cars" entity="myCar" fxLayout="column" show-header="yes"
  header-actions="R;I;U;D" #oDetailForm keys="car_id" keys-sql-types="INTEGER"
  show-header-navigation="yes"> -->

  <o-form  #form mode="dialog" class="cars-detail" service="cars" entity="car" keys="car_id" keys-sql-types="INTEGER" header-actions="U;D" show-header="no">
  
    <o-row class="cars-new-principal-row">
      <o-column title="" class="cars-new-principal-row-column">

        <o-row>
            <o-text-input class="input-padding" attr="car_id" fxFlex="400px" required="yes" enabled></o-text-input>
          </o-row>
        <o-row>
          <o-text-input class="input-padding" attr="brand" fxFlex="400px" required="yes" enabled></o-text-input>
        </o-row>

        <o-row>
          <o-text-input class="input-padding" attr="model" fxFlex="400px" required="yes" enabled></o-text-input>
        </o-row>
        <o-row>
          <o-integer-input attr="daily_rental_price" label="Price_per_day" min="1" max="100" required="yes" enabled></o-integer-input>
        </o-row>

        <o-row>
            <o-date-input value-type="date" class="input-padding" label ="rental_start_date" attr="rental_start_date" fxFlex="400px" required ="no"></o-date-input>
          </o-row>
          <o-row>
            <o-date-input class="input-padding" label="rental_end_date" attr="rental_end_date" fxFlex="400px" required ="no"></o-date-input>
          </o-row>

          <o-row>
            <o-integer-input attr="total_price" label="total_price" required="yes" ></o-integer-input>
          </o-row>
        <o-row>
          <button type="button" (click)="insertRent()" >{{ 'RENT' | oTranslate }}</button>
        </o-row>
    
      </o-column>
    </o-row>
  </o-form>

