.leftColumn{
    height: 650px;
    /* border: 2px solid green; */
}
.rightColumn{
    color: #e91e63;
    font-size: medium;

}
.row-car_photo{
    /* border: 2px solid orange; */
    padding: auto;
    padding-left: 100px;
    height: 250px;
    width: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.ontimize-buttons{
display: flex;
    margin: auto;
}
.cars-new-principal-row{
    display: flex;
    margin: auto; 
}

o-textarea-input{
    padding: auto;
    width: 200px;
}
.o-form-layout-dialog-options{
    font-size: medium;
}
.cars-new-principal-row-column-info-row {
    display: none;
}

.cars-new-principal-row-column-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: medium;
    width: 250;
    height: 250;  
    color: #e91e63;
    gap: .5rem;
    /* border-bottom: 2px solid #F1AD2D; */
} 

.form{
    width: 100%;
    display: flex;
    flex-direction: column;  
    /* border:1px solid red ; */
}
.columnscontainer{
    
    /* border: 1px solid blue; */
}
.containerbutton{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    /* border: 1px solid greenyellow; */
    align-items: center;

 
}
span{
    justify-content: center;
    align-items: center;
    display: flex;
}
.totalprice{
    margin-bottom: 3.3rem;

}
.totalprice-amount *{

    color: #e91e63 !important;
}
/*

.form .prueba:hover ~ .cars-new-principal-row-column-info {
    scale: 1.1;
}
 */

