.cars-detail {
 
    flex-direction: column-reverse;
    height: 100%;
}

.leftColumn{
    margin-right: 30px;
}

.dateRight{
    margin-left: 30px;
}
.input-padding{
    margin-top: 15px;
}

.o-map {
    height: auto; /* Add this to make the map container take available vertical space */
    margin-right: -330px;
}


