


  <o-form  fxFill #form mode="dialog" (onFormModeChange)="forceInsertMode($event)" (onInsert)="closeDialog($event)" service="users" entity="user"  show-header="no">
  
  <o-row>
    <o-column title="USER_REGISTER" fxFlex>
 
      
      <o-row>
        <o-text-input class="input-padding" attr="NAME" fxFlex required="yes"></o-text-input>
      </o-row>
      <o-row>
        <o-text-input class="input-padding" attr="SURNAME" fxFlex required="yes"></o-text-input>
      </o-row>
      
      <o-row>
        <o-nif-input attr="NIF" class="input-padding" fxFlex required="yes"></o-nif-input>
      </o-row>
      <o-row>
        <o-email-input attr="EMAIL" fxFlex></o-email-input>
      </o-row>
      <o-row>
        <o-text-input class="input-padding" attr="USER_" fxFlex required="yes"></o-text-input>
      </o-row>
      <o-row>
        <o-password-input class="input-padding"  id = "password1" attr="PASSWORD1"  fxFlex required="yes" show-password-button="yes"></o-password-input>
      </o-row>
      <o-row>
        <o-password-input class="input-padding" id = "password2" attr="PASSWORD2"  fxFlex required="yes" show-password-button="yes"></o-password-input>
      </o-row>

      <div class="ontimize-buttons">
        <o-button attr="basic1" type="STROKED" label="CANCELAR" layout-padding color="primary"></o-button>
        <o-button attr="basic1" type="STROKED" label="GUARDAR" layout-padding color="primary" (click)="form.insert()"></o-button>
      </div>
      <!-- ERA LA PRIMERA OPCION -->
      <!-- <button (click)="registryForm.send()">Registro</button> -->
      
    </o-column>
    
  </o-row>
</o-form>
