<mat-toolbar color="primary">

    <span class="fill-remaining-space">
  
     <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
            
        <mat-icon>menu</mat-icon>
  
     </button>
  
     <mat-menu #menu="matMenu" [overlapTrigger]="false">
  
     <span (mouseleave)="menuTrigger.closeMenu()">
  
      <button mat-menu-item [routerLink]="['']">
  
       <mat-icon>home</mat-icon>
  
       <span>Inicio</span>
  
    </button>
  
    <button mat-menu-item [routerLink]="['/registrarme']">
  
       <mat-icon>person_add</mat-icon>
  
       <span>Registrarme</span>
  
      </button>
      <button mat-menu-item [routerLink]="['/Conectarse']">
  
         <mat-icon>perm_identity</mat-icon>
    
         <span>Conectarse</span>
    
        </button>
  
    <button mat-menu-item>
  
       <mat-icon>drive_eta</mat-icon>
  
       <span>Let's talk</span>
  
      </button>
  
    <button mat-menu-item>
  
       <mat-icon>exit_to_app</mat-icon>
  
       <span>Logout</span>
  
      </button>
  
    </span>
  
    </mat-menu>
  
    </span>
  
    <span class="fill-remaining-space">GoCarSpain</span>
  
   </mat-toolbar>